body{
    font-family: Arial, sans-serif;
    font-size: 10px;
    margin:0;
    padding:20px;
    display: flex;
    justify-content: center;

}

.Paper-Size{
    width: 850px;
    height: 1050px;
    border: 1px solid black;
}

.letterhead{
    width: auto;
    height: auto;
    text-align: center;

}

